<!DOCTYPE html>
<html>
  <head><title>Map</title>
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
	var ajcall = function(){
	  $.post("/status",
	  	{
	      addPost: $("#post")[0].value,
	      user: "<%= walluserData.username %>"
	    },
	    function(data, status) {
	      if (!data.stat) {
	      	alert(data.err);
	      } else {
          // display the new post on the page
          $('#posts').append("<p>" + data.post + "</p>");
	      }
	    }
      );
      return false;
	};
	
  var ajaxfriend = function() {
    $.post("/friend", {
      potentialfriend: "<%= walluserData.username %>"
    }, function(data) {
      if (data.error) {
        alert(data.error);
      } else {
        $('#friendreqform').hide();
      }
    });
  };

  </script>
  
</head><body>
  <%if (message != null) { %>
  <font color="red"><%= message %></font>
  <% } %>
  <h1><%= walluserData.firstname %> <%= walluserData.lastname%></h1>
  <h2><%= walluserData.interestsArray %></h2>
  <h2><%= walluserData.affiliationsArray %></h2>
  <h2><%= walluserData.dateofbirthArray %></h2>

  <div id="posts">
    <h1>Posts:</h1>
  </div>
  
  <br>
  <%if (butn.x == true) { %>
  <form id="friendreqform" onSubmit="ajaxfriend(); return false">
    Friend This Person: <input type="submit" id="friendbtn" value="Friend">
  </form>
  <% } %>
  <br>

  <form id="theform" action="" method="" onSubmit="ajcall(); return false">
    Post to Wall: <input id="post" type="text" name="post"><br>
 	<input type="submit" id="btn" value="Post">
  </form>
  <br><a href="/logout">Log Out</a>
</body>
</html>
